.navbar {
  background-color: #363636;
  border-left: 2px solid #eec2ab;
}

.title {
  margin-left: 60px;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.logo .titleWeb {
  position: absolute;
  font-size: 28px;
  color: #09896f;
  font-weight: bold;
  margin-left: 6px;
}
