.containPage {
    padding: 20px 30px;
    height: 70vh;
  
    .titleWeb {
      color: #09896f;
      font-weight: bold;
    }
  
    height: auto;
  }
  
  .contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #eae2e24a;
  }
  
  .titleIntro {
    font-weight: bold;
  }
  
  .btnReadMore {
    background-image: linear-gradient(to left, #ec3030, #09896f);
    margin: 10px 0px;
    margin-top: 50px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #000000;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    width: 100%;
  
    &:hover {
      background-position: right center;
      color: #ffffff;
      text-decoration: none;
    }
  }
  
  .btnReadMore:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .card {
    background-color: #ffffff00;
    border: none;
    padding: 20px 0px;
  
    .imageCup {
      margin-left: 32px;
      img {
        max-width: 520px;
        z-index: 3;
        position: relative;
        border-radius: 40px;
      }
    }
  }

  .auth {
    color: #ec3030;
  }